.dialogBox{
    box-sizing: border-box;
}

.inputContainer{
    display: flex;
}

.allInputsContainer{
    display: flex;
    flex-direction: column;
}

.mat-progress-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}