<mat-card appearance="outlined">
  <mat-card-content>
    <table>
      <tr class="tableTitleRow">
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
      </tr>
      <tr *ngFor="let user of allUsers" [routerLink]="'/user/' + user.id">
        <td>{{ user.firstName }} {{ user.surName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.city }}</td>
      </tr>

    </table>
  </mat-card-content>
</mat-card>

<div class="example-button-container">
    <button mat-fab class="addButton" color="primary" matTooltip="Add a user"  [matTooltipPosition]="'above'" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
</div>